body {
    font-family: Times New Roman, sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    padding: 20px;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 1.2em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

section {
    padding: 20px;
}

a {
    color: grey;
}

table {
    margin-left: 0;
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.silver-boarder {
    display: block;
    border: 1px solid silver;
    padding: 10px;
}

#portfolio img {
    gap: 10px;
    width: 100%;
    height: auto;
    max-width: 300px;
}

footer {
    background-color: beige;
    text-align: center;
    padding: 10px 0;
}

footer img{
    width: 25px;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrollTopBtn:hover {
    background-color: grey;
}