body {
    font-family: "Times New Roman", "serif";
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    width: 100%;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0px -1px 4px 0px darkgray;
}

header img{
    width: 30%;
    max-width: 250px;
    position: static;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 1.2em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

section {
    padding: 20px 0px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

section p {
    max-width: 800px;
    margin: 20px 0;
}

section img {
    margin: 20px 0;
}

a {
    color: black;
}

table {
    margin: 20px 0;
    max-width: 800px;
    width: 100%;
}

img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.silver-boarder {
    display: block;
    border: 1px solid silver;
    padding: 10px;
}

#portfolio img {
    gap: 10px;
    width: 100%;
    height: auto;
    max-width: 300px;
}

footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0px 0px 3px 0px darkgray;
}

footer img{
    width: 25px;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrollTopBtn:hover {
    background-color: grey;
}



.ContactInfo {
}

.EbonyBackground {
    background-color: rgb(255, 254, 250);
}

.FlexContainer {
    display: flex;
    justify-content: normal;
    width: 100%;
}

.LaBiosthetiqueShop {
    border: 10px inset;
    pointer-events: bounding-box;
    width: 100%;
    aspect-ratio: 4/3;
    max-width: 600px;
}

.QrCode {
    max-height: 90px;
    width: auto;
}