a {
  color: black;
}

body {
  font-family: "Times New Roman", "serif";
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  width: 100%;
}

footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 10px;
  width: 100%;
  box-shadow: 0 0 3px 0 darkgray;
}

footer img {
  width: 25px;
}

header {
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 -1px 4px 0 darkgray;
}

header img {
  width: 30%;
  max-width: 300px;
  min-width: 225px;
  position: static;
}

hr {
  width: 75%;
  max-width: 800px;
  border: none;
  height: 1px;
  background-color: darkgray;
}

img {
  width: 100%;
  max-width: 225px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  font-size: 1.2em;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

section {
  padding: 20px 0;
  width: 75%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

section img {
  margin: 20px 0;
}

section p {
  max-width: 800px;
  margin: 0.5em 0;
}

table {
  margin: 0.5em 0 2em 0;
  max-width: 600px;
  width: 100%;
  border-collapse: collapse;
}

#portfolio img {
  gap: 10px;
  width: 100%;
  height: auto;
  max-width: 300px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px 15px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#scrollTopBtn:hover {
  background-color: grey;
}

.ContactInfo {
}

.EbonyBackground {
  background-color: rgb(255, 254, 250);
}

.FlexContainer {
  display: flex;
  justify-content: normal;
  width: 100%;
  flex-wrap: wrap;
}

.FlexContainerNoWrap {
  display: flex;
  justify-content: normal;
  width: 100%;
}

.GridContainer2x2 {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1em;
}

.GridElement1x1 {
  grid-row: span 1;
  grid-column: span 1;
}

.GridElement1x2 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.Header {
  margin-block-end: 1.5em;
}

.ImagePair {
  width: 50%;
}

.ImpressionenFlexContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.ImpressionenImagePair {
  width: 50%;
  max-width: 400px;
}

.LaBiosthetiqueShop {
  border: 10px inset;
  box-sizing: border-box;
  margin: 1em 0;
  width: 100%;
  aspect-ratio: 4/3;
  max-width: 800px;
}

.LageKarte {
  border: 2px inset;
  margin: 2em 0;
  width: calc(100% - 2 * 2px); /* Subtracting the border. */
  aspect-ratio: 4/3;
  max-width: 800px;
}

.QrCode {
  max-height: 90px;
  width: auto;
  margin: 10px 0;
}

.SilverBoarder {
  display: block;
  border: 1px solid silver;
  padding: 10px;
}

.SubHeader {
  color: black;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.TableDividerBottom {
  border-bottom: 5pt solid white;
}
